{{#if warning_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{warning_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{success_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if errors}}
{{#each errors}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{this.message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{/if}}

{{#if passportError}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{passportError}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if search_msg}}
<div class="search-msg alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
  {{search_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}