<div class="d-flex justify-content-center restaurant-category">
  <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
    <p class="title">name: <input type="text" name="name" value="{{restaurant.name}}"></p>
    <p class="title">name_en: <input type="text" name="name_en" value="{{restaurant.name_en}}"></p>
    <p class="title">category: <input type="text" name="category" value="{{restaurant.category}}"></p>
    <p class="title">image: <input type="text" pname="image" value="{{restaurant.image}}"></p>
    <p class="title">location: <input type="text" name="location" value="{{restaurant.location}}"></p>
    <p class="title">phone: <input type="text" name="phone" value="{{restaurant.phone}}"></p>
    <p class="title">google_map: <input type="text" name="google_map" width="100px" value="{{restaurant.google_map}}">
    </p>
    {{!-- 無顯示在show page，但還是可用來修改index的rating資訊--}}
    <p class="title">rating: <input type="text" name="rating" value="{{restaurant.rating}}"></p>
    <p class="title">description: <input type="text" name="description" value="{{restaurant.description}}"></p>
    <div class="d-flex justify-content-center">
      <button type="submit" class="save">Save</button>
    </div>
  </form>
</div>