<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search" method="GET">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" value="{{keyword}}" placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..." aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>



<div class="container mt-5">
  <div class="row">
    <div class="dropdown show col-12 mx-auto d-flex justify-content-end mb-4">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        排序
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/asc">A~Z</a>
        <a class="dropdown-item" href="/desc">Z~A</a>
        <a class="dropdown-item" href="/category">類別</a>
        <a class="dropdown-item" href="/location">地區</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="card-columns">
          {{#each restaurants}}
          <div class="card mb-3">
            <a href="/restaurants/{{this._id}}" class="text-secondary">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}"></a>
            <div class="card-body p-3">
              <a href="/restaurants/{{this._id}}" class="text-secondary">
                <h6 class="card-title mb-1">{{this.name}}</h6>
              </a>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <div class="mx-auto mt-2 d-flex flex-wrap justify-content-center more">
                <a href="/restaurants/{{this._id}}/edit" class="text-secondary"><i class="btn fas fa-edit ml-3 pt-1">
                    Edit</i></a>
                <a href="/restaurants/{{this._id}}" class="text-secondary"><i class="btn fas fa-list-alt ml-3 pt-1">
                    Detail</i></a>
                <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" class="ml-3 d-inline">
                  <i class="btn fas fa-trash" type="submit"></i>
                </form>
              </div>

            </div>
          </div>
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>